
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img>


<form  method="POST" action="register" >
    {% csrf_token %}
    <input type="text " name="username" placeholder="Enter Username"  ><br>
    <input type="text " name="first_name" placeholder="Enter First Name"  ><br>
    <input type="text " name="last_name" placeholder="Enter Last Name"  ><br>
    <input type="email " name="email" placeholder="Enter your email"  ><br>
    <input type="password " name="password1" placeholder="Enter password"  ><br>
    <input type="password " name="password2" placeholder="confirm password"  ><br>
    <button type="submit" onclick="submitForm(event)">Submit</button>

</form>
{% for msg in messages %}

<h2> {{ msg}} </h2>
{% endfor %}


</body>
</html>